@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wdth,wght@62.5..100,100..900&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400&display=swap');


.noto-serif-bengali {
    font-family: "Noto Serif Bengali", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

  .poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  html, body{
    font-family: "Noto Serif Bengali", serif;
  }

  .marquee {
    overflow: hidden;
    position: relative;
  }
  
  .marquee-content {
    animation: scrollUp 20s linear infinite;
    animation-play-state: running;
  }

  .marquee-content:hover {
    animation-play-state: paused; /* Pause the scrolling when hovered */
  }

  


  @keyframes scrollUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  


